* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

p {
    color: #636363
}

.filter-white {
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(38deg) brightness(103%) contrast(103%);
}

/* Sidebar */

.sidebar {
    background-color: #1992D4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    overflow: auto;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.dashboard-logo {
    color: white;
    padding: 15px 20px 20px 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.logo {
    width: 48px;
    padding-right: 8px;
}

.simple-icon {
    width: 24px;
    padding-right: 20px;
}

.nav-bar, .settings-bar {
    padding: 15px 20px 20px 20px;
}


.nav-list li, .settings-list li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 16px;
}


/* Right side */

.content-container {
    display: grid;
    grid-template-rows: 196px 1fr;
}

.header {
    margin-top: 16px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 96px auto 1fr auto;
    grid-template-rows: 1fr 2fr;
    gap: 12px;
}

.header img {
    width: 24px;
}

.top-header-left {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2;
}

.top-header-left input {
    max-height: 16px;
    width: 470px;
    background-color: #E2E8F0;
    border: none;
    padding: 6px;
    border-radius: 20px;
}

.top-header-right {
    margin-right: 48px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: bold;
    gap: 24px;
    font-size: 18px;
}

.top-header-right img:first-of-type {
    width: 48px;
    border-radius: 100px;
}

.bottom-header-avatar img {
    width: 90px;
    border-radius: 100px;
}

.bottom-header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.bottom-header-left p {
    font-weight: bold;
}

.bottom-header-right {
    margin-right: 48px;
    margin-top: 26px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    max-height: 48px;
    gap: 24px;
}

.bottom-header-right button {
    background-color: #1992D4;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 42px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Main */

.main-content {
    background-color: #E2E8F0;
    box-shadow: inset 0 7px 12px -7px rgba(0,0,0,0.4);
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.project-list {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 8px;
}

.project {
    background-color: white;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 8px solid;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project h4 {
    margin-bottom: 8px;
}

.project-buttons {
    margin-top: 18px;
    margin-left: auto;
    padding-top: 12px;
    margin-top: auto;
    width: 24px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 12px;
}

/* Announcements & Trending */

.announcements-trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.announcements-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr;
    background: white;
    padding: 32px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 48px;
    width: 320px;
    gap: 16px;
}

.h-divider {
    background-color: #D2D2D2;
    width: 100%;
    height: 1px;
}