* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.filter-white {
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(38deg) brightness(103%) contrast(103%);
}

/* Sidebar */

.sidebar {
    background-color: #1992D4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    overflow: auto;
}

.dashboard-logo {
    color: white;
    padding: 15px 20px 20px 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.dashboard-logo img {
    width: 30px;
    padding-right: 8px;
}

/* Right side */

.content-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.main-content {
    background-color: #E2E8F0;
}